.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-bottom: 25px;
}

.about p{
    text-align: center;
    max-width: 500px;
    line-height: 1.4em;
}

.about Image{
    margin-bottom: 100px;
}